@model OnlineTestForCheckingKnowledge.ViewModels.Manage.SetPasswordViewModel
@{
    ViewData["Title"] = "Встановити пароль";
}

<h1>@ViewData["Title"]</h1>
<hr />
<p class="text-info">У вас немає локального пароля для цього облікового запису. Ви можете додати його нижче.</p>
<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NewPassword"></label>
                <input asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Встановити пароль</button>
            @if (TempData["SuccessMessage"] != null)
            {
                <div class="alert alert-success mt-3">@TempData["SuccessMessage"]</div>
            }
        </form>
    </div>
</div>